#select-num {
  padding: 1rem 2rem;
}

#select-num input {
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

ul li {
  list-style: none;
  display: inline;
}

code {
  word-break: break-all;
  width: 100%;
  margin-bottom: 1rem;
}

#deck-cards > button {
  height: 15rem;
  --pico-secondary-hover: rgb(0, 0, 0);

  --pico-form-element-spacing-vertical: 0.5rem;
  --pico-form-element-spacing-horizontal: 0.25rem;
  width: CALC(100% / 3);  
}

.identity {
  word-break: keep-all;
  
  height: 3rem;
  display: block;
}

.ego-list {
  word-break: keep-all;
  font-size: .75em;
}

.zayin {
  color: #0f0;
}

.teth {
  color: #19d;
}

.he {
  color: #fdcb41;
}

.waw {
  color: #a2e;
}

.aleph {
  color: #f00;
}

@media (prefers-color-scheme: dark) {
  #deck-cards > button {
    --pico-secondary-hover: white;
  }

  .zayin {
    color: #0f0;
  }

  .teth {
    color: #19d;
  }

  .he {
    color: #FFFF7B;
  }

  .waw {
    color: #D084F6;
  }

  .aleph {
    color: #FF7B7B;
  }
}